# Data types in python 
- integer == int
- float == float
- string == str
- boolen == bool
- complex == complex

$integer$

In [28]:
varable=100
type(varable)

int

Here there are other 3 in integer 
- binary
- octal
- hexa

$Binary$

- here bin means two
- so here we required two numbers ie(0,1)
- EX == 0b0011 (OR) 0B0011

In [4]:
0b0011

3

In [5]:
0B1010

10

$octal$

- octal means 8
- here we required 8 numbers
- 0,1,2,3,4,5,6,7 TOtal=8
- EX 0o126 (OR) 0O123

In [6]:
0o126

86

In [7]:
0O123

83

In [8]:
0o128 # error because in octal we are having numbers uptp 7....

SyntaxError: invalid digit '8' in octal literal (4288546682.py, line 1)

$hexa$

- hexa means 16
- here we require 16 number
- 0,1,2,3,4,5,6,7,8,9,A,B,C,D,F
- EX 0X1af (or) 0x2fa

In [9]:
0xabd

2749

In [10]:
0X12f

303

# Float

In [11]:
varable1=1.01
type(varable1)

float

here also some other elements are there they are

In [12]:
10e1 # 10 is multiplied with 10

100.0

In [13]:
10e+1 # both are same

100.0

In [14]:
10e+2 # 10mul with 100

1000.0

In [15]:
10e-1 # here 10 is div with 10

1.0

In [16]:
10e-2

0.1

- here e1 (or) e+1 means (mul)
- and e-1 means (div)

# String

In [26]:
varable2='string'
type(varable2)

str

In [18]:
print('string')

string

In [19]:
print('string "strings"') #when we want to helight inside

string "strings"

- triple single or triple double quations are used to write story
- are called docstring

In [20]:
'''welcome to python classes'''

'welcome to python classes'

# Boolen

In [21]:
varable3=True
type(varable3)

bool

In [24]:
varable4=False
type(varable4)

bool

# Complex

- complex numbers are a+bj
- where a is real part and b is imag part
- ex 2+3j

In [29]:
varable5=(2+3j)
type(varable5)

complex

In [30]:
dir(varable5)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [ ]:
- we know that

In [31]:
#<package_name>.<methodname>
varable5.conjugate()

(2-3j)

In [ ]:
# here to get the info move the curser to method and (shift+tab)

In [33]:
varable5.imag

3.0

In [34]:
varable5.real

2.0

In [ ]:
# ===============================================================================================================

# DATATYPE CONVERSION

- the process of converting one DT to another DT is called TypeCasting
- example 1 INT to others

In [35]:
var=100
type(var)

int

In [38]:
print(float(var))
print(str(var))
print(bool(var))
print(complex(var))

100.0
100
True
(100+0j)

In [39]:
# float to other 
print(int(12.0))
print(bool(12.0))
print(str(12.0))
print(complex(12.0))

12
True
12.0
(12+0j)

In [41]:
#str to other 
#print(int('python')) #error
print(bool('python'))  
#print(float('python')) # error
#print(complex('python')) #error 
# error because we can't convert a str in text fromat to other

True

In [ ]:
# also in boolen if 0 only Flase
# all othe r True

In [42]:
#str to other
print(int('12'))
print(bool('12'))
print(float('12'))
print(complex('12'))

12
True
12.0
(12+0j)

In [44]:
#str to other
#print(int('12.0'))
print(bool('12.0'))
print(float('12.0'))
print(complex('12.0'))

True
12.0
(12+0j)

In [ ]:
# here '12 can convert to int and float'
# but '12.0' can't canvert to int
# but can convert to Float

#                                            THE END